[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4"
gunicorn = "==20.0.4"
uvloop = "==0.15.2"
beautifulsoup4 = "==4.9.3"
lxml = "==4.6.2"
django = "==2.2.13"

[dev-packages]
bumpversion = "==0.5.3"
flake8 = "==3.8.0"
isort = "==5.7.0"
pytest = "==4.4.2"
pytest-aiohttp = "==0.3.0"
pytest-cov = "~=2.7.0"
aioresponses = "==0.7.2"
coveralls = "==3.0.0"
coverage = "==5.5"
diagrams = "0.19.1"

[requires]
python_version = "3.7"
